body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9f9;
  margin: 0;
}
body p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #172027;
}

.romantic-font {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  color: #d48c8c;
}

h2 {
  font-family: "Marcellus", serif;
  font-size: 56px;
  line-height: 88px;
  text-align: center;
  text-transform: capitalize;
  color: #384957;
  /* color: #b97a57; */
}
@media only screen and (max-width: 500px) {
  .venues__card-title {
    font-size: 24px;
    line-height: 34px;
  }
}
.venues__card-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3c3641;
}
h3 {
  color: #5c778c;
}
.couple__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #5c778c;
  text-transform: uppercase;
}

body.offcanvas-open {
  overflow: hidden;
  pointer-events: none;
}

.offcanvas-backdrop {
  backdrop-filter: blur(4px);
}

.offcanvas.show {
  pointer-events: auto; /* permite que solo el offcanvas sea interactuable */
}

.hero {
  height: 100vh;
  background: url("Images/Hochzeit_Sabrina_Francisco_BY_EVA_SUTTER_009.jpg")
    center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fef5f5;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
}

section {
  padding: 60px 15px;
}

.evento iframe {
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-dark {
  background-color: #5c778c;
  border-color: #5c778c;
}

.btn-dark:hover {
  background-color: #172027;
  border-color: #172027;
}

.btn-light {
  background-color: #fbeeee;
  color: #b97a57;
  border: 1px solid #d4a5a5;
}

.btn-light:hover {
  background-color: #f8d6d6;
}
.rvsp__subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5c778c;
  margin-bottom: 16px;
  display: block;
}
.form {
  border-color: #5c778c;
}
.form-label,
.form-control {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 20px;
  color: #172027;
}
.iputs__group {
  position: relative;
  padding-top: 1.8rem;
}
.iputs__group label {
  font-size: 14px;
  line-height: 20px;
}
footer {
  background-color: #5a3e36;
}

footer p,
footer small {
  color: #fefefe;
}

/* Responsive */
@media (max-width: 768px) {
  .romantic-font {
    font-size: 2.5rem;
  }

  .btn {
    width: 100%;
  }
}
